{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta Data -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Doni & Company</title>
    <meta name="description" content="Agro Commodity Brokerage Firm<"/>
    <meta name="keywords"
          content="Tramodity, 'tramodity', Doni, lentils, trade, yellow peas, agriculture, agriculture products, 'desi chickpeas',
          import, export, doni group, doni company, grains, grain, rice, export, import,
          pakistan, karachi, trade, pulses, grain, rice, trading, commodity, commodity brokerage" />

    <meta name="author" content="tramodity"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="shortcut icon" type="image/png" sizes="16x16" href='{% static "img/favicon-16x16.png" %}'>
    <link rel="shortcuticon" type="image/png" sizes="32x32" href='{% static "img/favicon-32x32.png" %}'>
    <link rel="shortcut icon" type="image/png" sizes="96x96" href='{% static "img/favicon-96x96.png" %}'>
    <!--<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">-->

    <!-- Stlylesheet -->
    <link href='{% static "css/style.css" %}' rel="stylesheet" type="text/css" />
    <link href='{% static "css/font-awesome.min.css" %}' rel="stylesheet" type="text/css" />
    <!-- Skin Color -->
    <link rel="stylesheet" href='{% static "css/colors/red.css" %}' id="color-skins"/>


    {% block extrastyles %}

    {% endblock %}

</head>

<!-- start Mixpanel -->
<script type="text/javascript">(function(e,a){if(!a.__SV){var b=window;try{var c,l,i,j=b.location,g=j.hash;c=function(a,b){return(l=a.match(RegExp(b+"=([^&]*)")))?l[1]:null};g&&c(g,"state")&&(i=JSON.parse(decodeURIComponent(c(g,"state"))),"mpeditor"===i.action&&(b.sessionStorage.setItem("_mpcehash",g),history.replaceState(i.desiredHash||"",e.title,j.pathname+j.search)))}catch(m){}var k,h;window.mixpanel=a;a._i=[];a.init=function(b,c,f){function e(b,a){var c=a.split(".");2==c.length&&(b=b[c[0]],a=c[1]);b[a]=function(){b.push([a].concat(Array.prototype.slice.call(arguments,
0)))}}var d=a;"undefined"!==typeof f?d=a[f]=[]:f="mixpanel";d.people=d.people||[];d.toString=function(b){var a="mixpanel";"mixpanel"!==f&&(a+="."+f);b||(a+=" (stub)");return a};d.people.toString=function(){return d.toString(1)+".people (stub)"};k="disable time_event track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config reset people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
for(h=0;h<k.length;h++)e(d,k[h]);a._i.push([b,c,f])};a.__SV=1.2;b=e.createElement("script");b.type="text/javascript";b.async=!0;b.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"file:"===e.location.protocol&&"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";c=e.getElementsByTagName("script")[0];c.parentNode.insertBefore(b,c)}})(document,window.mixpanel||[]);
mixpanel.init("8f31386937d6654031d0c5d689f08d4e");</script>
<!-- end Mixpanel -->
<body>
{% block afterBodyJS %}
{% endblock %}
<!-- Start Preloader -->
<div id="preloader">
    <div class="loader">
        <img src='{% static "img/assets/doni_and_company.png" %}' alt="Doni & Company">
    </div>
</div>
<!-- End Preloader -->


<header>
    <!-- Start Header -->

    <nav class="navbar navbar-default navbar-alt navbar-small" role="navigation">
        <div class="container">

            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand to-top" rel="home" href="#">
                    <img src='{% static "img/assets/doni_and_company_white.png" %}' alt="Doni & Company" class="logo-big">
                    <img src='{% static "img/assets/logo-dark.png" %}' alt="Doni & Company" class="logo-small">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="main-nav">
                <ul class="nav navbar-nav  navbar-right">
                    <li><a href='{% url "web:homePage" %}' class="{% if active_tab == 'home' %} active{% endif %}">Home</a></li>
                    <li class="to-section"><a href='{% url "web:homePage" %}#about' >About Us</a></li>
                    <li class="to-section"><a href='{% url "web:products" %}'>Products</a></li>
                    <li class="to-section"><a href='{% url "web:pricingPage" %}'>Pricing</a></li>
                    <li><a href='{% url "web:blogs" %}' class="active">Research</a></li>
                    <li class="to-section"><a href='{% url "web:homePage" %}#contact'>Contact</a></li>
                    <li><a class="social-icon" href="https://twitter.com/DoniCompany" target="_blank"><i class="icon icon-social-twitter"></i></a></li>
                    <li><a class="social-icon" href="https://facebook.com/DoniGroup/" target="_blank" href="#"><i class="icon icon-social-facebook"></i></a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
    </nav>

</header>

{% block marquee %}

{% endblock %}


{% block content %}{% endblock content %}



<script src="http://twitter.com/javascripts/blogger.js" type="text/javascript"></script>
<script src="http://api.twitter.com/1/statuses/user_timeline.json?screen_name=DoniCompany&include_rts=true&count=10&callback=twitterCallback2" type="text/javascript"></script>
<!-- jQuery -->
<script src='{% static "js/plugins/jquery.min.js" %}'></script>
<script src='{% static "js/plugins/moderniz.min.js" %}'></script>
<script src='{% static "js/plugins/smoothscroll.min.js" %}'></script>
<script src='{% static "js/plugins/revslider.min.js" %}'></script>
<script src='{% static "js/plugins/bootstrap.min.js" %}'></script>
<script src='{% static "js/plugins/waypoints.min.js" %}'></script>
<script src='{% static "js/plugins/parallax.min.js" %}'></script>
<script src='{% static "js/plugins/easign1.3.min.js" %}'></script>
<script src='{% static "js/plugins/cubeportfolio.min.js" %}'></script>
<script src='{% static "js/plugins/owlcarousel.min.js" %}'></script>
<script src='{% static "js/plugins/tweetie.min.js" %}'></script>
<script src='http://maps.googleapis.com/maps/api/js?key=AIzaSyChOXTm0jxXRYtpOTvPES1N816fVDonXQQ&sensor=false&libraries=places'></script>
<script src='{% static "js/plugins/gmap3.min.js" %}'></script>
<script src='{% static "js/plugins/wow.min.js" %}'></script>
<script src='{% static "js/plugins/counterup.min.js" %}'></script>
<script src='{% static "js/plugins/jquery.marquee.min.js" %}'></script>
<script src='{% static "js/jquery.pause.js" %}'></script>
<script src='{% static "js/scripts.js" %}'></script>

{% block extrajs %}
{% endblock %}

{% if GOOGLE_ANALYTICS_PROPERTY_ID %}
  {% include "ga.html" %}
{% endif %}






</body>
</html>