{% extends "base2.html" %}
{% load staticfiles %}
{% block content %}


<div class="row price-bar">
    <div class="col-lg-12 price-legends">
        <div class="col-lg-4 col-sm-12">
            <div class="legends">
                <div class="int">International Price</div>
            </div>
            <div class="legends">
                <div class="local">Local Price</div>
            </div>

            <div class="legends">
                <div style="font-size: 9px; padding-top: 5px; padding-left: 10px;" class="last-updated">
                    Last Updated {{price_date}}
                </div>
            </div>
        </div>
        <div class="col-lg-offset-3 col-lg-4 col-sm-12">
            <div class="metric">
                Convert All Prices To
                <span id="rs_to_kg">Rs/kg</span>
                <span id="us_pmt">US$/Pmt</span>
            </div>
        </div>
    </div>
    <div class="marquee col-lg-12" data-gap='10'>
        {% for item in ticker_items %}
        <span class="product-price-slide-item">
            <img width="25" height="20" src="{{item.flagUrl}}">
            <p class="productCountry">{{item.country}}</p>
            <p class="productCode"><a href="{% url 'web:pricing_detail' %}?id={{item.id}}">{{item.productCode}} {{item.keywords}}</a></p>
            <p class="normal-price productPrice international">{{item.internationalPrice}}</p>
            {% if item.internationalPriceChange > 0 %}
            <p class="normal-price productChange no-padding"><i class="fa fa-caret-up"></i></p>
            {% endif %}
            {% if item.internationalPriceChange < 0 %}
            <p class="normal-price productChange no-padding"><i class="fa fa-caret-down"></i></p>
            {% endif %}
            {% if item.internationalPriceChange == 0 %}
            <p class="normal-price productChange no-padding"><i class="fa fa-minus"></i></p>
            {% endif %}
            <p class="normal-price productPrice local">{{item.localPrice}}</p>
            {% if item.localPriceChange > 0 %}
            <p class="normal-price productChange no-padding"><i class="fa fa-caret-up"></i></p>
            {% endif %}
            {% if item.localPriceChange < 0 %}
            <p class="normal-price productChange no-padding"><i class="fa fa-caret-down"></i></p>
            {% endif %}
            {% if item.localPriceChange == 0 %}
            <p class="normal-price productChange no-padding"><i class="fa fa-minus"></i></p>
            {% endif %}

            <p class="usd_pmt-price productPrice international">{{item.internationalPrice_usd_pmt}}</p>
            {% if item.internationalPrice_usd_pmt_change > 0 %}
            <p class="usd_pmt-price productChange no-padding"><i class="fa fa-caret-up"></i></p>
            {% endif %}
            {% if item.internationalPrice_usd_pmt_change < 0 %}
            <p class="usd_pmt-price productChange no-padding"><i class="fa fa-caret-down"></i></p>
            {% endif %}
            {% if item.internationalPrice_usd_pmt_change == 0 %}
            <p class="usd_pmt-price productChange no-padding"><i class="fa fa-minus"></i></p>
            {% endif %}
            <p class="usd_pmt-price productPrice local">{{item.localPrice_usd_pmt}}</p>
            {% if item.localPrice_usd_pmt_change > 0 %}
            <p class="usd_pmt-price productChange no-padding"><i class="fa fa-caret-up"></i></p>
            {% endif %}
            {% if item.localPrice_usd_pmt_change < 0 %}
            <p class="usd_pmt-price productChange no-padding"><i class="fa fa-caret-down"></i></p>
            {% endif %}
            {% if item.localPrice_usd_pmt_change == 0 %}
            <p class="usd_pmt-price productChange no-padding"><i class="fa fa-minus"></i></p>
            {% endif %}


            <p class="pkr-pkg-price productPrice international">{{item.internationalPrice_pkr_pkg}}</p>
            {% if item.internationalPrice_pkr_pkg_change > 0 %}
            <p class="pkr-pkg-price productChange no-padding"><i class="fa fa-caret-up"></i></p>
            {% endif %}
            {% if item.internationalPrice_pkr_pkg_change < 0 %}
            <p class="pkr-pkg-price productChange no-padding"><i class="fa fa-caret-down"></i></p>
            {% endif %}
            {% if item.internationalPrice_pkr_pkg_change == 0 %}
            <p class="pkr-pkg-price productChange no-padding"><i class="fa fa-minus"></i></p>
            {% endif %}
            <p class="pkr-pkg-price productPrice local">{{item.localPrice_pkr_pkg}}</p>
            {% if item.localPrice_pkr_pkg_change > 0 %}
            <p class="pkr-pkg-price productChange no-padding"><i class="fa fa-caret-up"></i></p>
            {% endif %}
            {% if item.localPriceChange < 0 %}
            <p class="pkr-pkg-price productChange no-padding"><i class="fa fa-caret-down"></i></p>
            {% endif %}
            {% if item.localPrice_pkr_pkg_change == 0 %}
            <p class="pkr-pkg-price productChange no-padding"><i class="fa fa-minus"></i></p>
            {% endif %}

        </span>
        {% endfor %}
    </div>
</div>

<!-- Start Home Revolution Slider Parallax Section -->
<section id="home-revolution-slider">
    <div class="hero">
        <div class="tp-banner-container">
            <div class="tp-banner">
                <ul>
                    {% for slide in slides %}
                    <!-- SLIDE 1 -->
                    <li data-transition="fade" data-slotamount="7" data-masterspeed="1000"
                        data-thumb='{{slide.image.url}}'
                        data-delay="5000"  data-saveperformance="on" data-title="Doni & Company">
                        <img src='{{ slide.image.url }}'
                             alt="slidebg1" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">

                        <!-- Home Heading -->
                        <div class="tp-caption sft"
                             data-x="center"
                             data-y="260"
                             data-speed="1200"
                             data-start="1100"
                             data-easing="Power3.easeInOut"
                             data-splitin="none"
                             data-splitout="none"
                             data-elementdelay="0.1"
                             data-endelementdelay="0.1"
                             data-endspeed="300"
                             style="z-index: 4; max-width: auto; max-height: auto; white-space:normal;">
                            <h2 class="home-heading op-1">{{ slide.heading }}</h2>
                        </div>
                        <!-- Home Subheading -->
                        <div class="tp-caption home-subheading sft "
                             data-x="center"
                             data-y="360"
                             data-speed="1200"
                             data-start="1350"
                             data-easing="Power3.easeInOut"
                             data-splitin="none"
                             data-splitout="none"
                             data-elementdelay="0.1"
                             data-endelementdelay="0.1"
                             data-endspeed="300"
                             style="z-index: 4; max-width: auto; max-height: auto; white-space:normal;">
                            <div class="op-1">{{ slide.sub_heading }}</div>
                        </div>
                        <!-- Home Button -->
                        <div class="tp-caption home-button sft fadeout"
                             data-x="center"
                             data-y="400"
                             data-speed="1200"
                             data-start="1550"
                             data-easing="Power3.easeInOut"
                             data-splitin="none"
                             data-splitout="none"
                             data-elementdelay="0.1"
                             data-endelementdelay="0.1"
                             data-endspeed="300"
                             style="z-index: 4; max-width: auto; max-height: auto; white-space:normal;">
                            <div class="op-1">
                                <a href="{{ slide.call_to_action_url }}" class="btn btn-primary btn-scroll">
                                    {{ slide.call_to_action_text }}</a>
                            </div>
                        </div>

                    </li>
                    {% endfor %}

                </ul>
                <div class="tp-bannertimer"></div>
            </div>

            <div class="home-bottom">
                <div class="container text-center">
                    <div class="move bounce">
                        <a href="#about" class="ion-ios-arrow-down btn-scroll"></a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- End Home Revolution Slider Parallax Section -->

<div class="site-wrapper content">
    <!--<section id="clients">-->
    <!---->
    <!--</section>-->
    <!-- Start About Section -->
    <section id="about" class="">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-left about-text">
                    <div class="col-md-12 text-center">
                        <h3 class="my-heading section-title wow fadeInUp">About Us</h3>
                    </div>
                    <p class="wow font-size-20px fadeInUp">Doni and Company is an agro commodity brokerage
                        business based in Karachi, Pakistan. We deal in pulses, oilseeds, wheat,
                        rice, sugar, maize/corn, spices and fodder. Our local buyers in Pakistan
                        include millers, investors, traders, stockists, wholesalers and retailers.
                        Some of our institutional clients include World Food Programme Pakistan,
                        International Committee of the Red Cross Afghanistan, Pakistan Army and
                        Pakistan Utility Store Corporation. Origins, destinations and trading hubs
                        we presently do business with include: Canada, Australia, U.S., Russia,
                        Ukraine, India, Kenya, Ethiopia, U.A.E, Singapore, Malaysia, Indonesia, China,
                        Argentina, Mexico, Peru, Brazil, Turkey and Egypt.</p>

                    <p class="wow font-size-20px fadeInUp">When dealing with Doni and Company, our customers receive
                        the benefit of our decades of experience, vast network of operations.
                        Doni and Company renowned industry reputation ensures that
                        they receive the best quality products at the most competitive prices.
                        Constantly adapting to customer requirements Doni and Company is well known for
                        their customer service.</p>

                    {#                        <p class="wow font-size-20px fadeInUp">#}
                    {#                            Some of our worldwide suppliers and buyers include: Glencore plc, Viterra Inc,#}
                    {#                            Cargill Inc, Alliance Grain Traders, Agrocorp International and Export Trading Group (ETG).</p>#}
                </div>

            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h3 class="section-title my-heading">Some of our global suppliers.</h3>
                </div>
                <div class="clients">

                    <div class="col-md-3 col-sm-3 col-xs-12 client wow fadeInUp">
                        <a href="https://www.viterra.com/web/canada" target="_blank">
                            <div class="logo-dark">
                                <img style="padding-top: 12px; padding-bottom: 13px" height="190" src='{% static "img/clients/viterra-light.png" %}' class="img-responsive" alt="client">
                            </div>
                            <div class="logo-light">
                                <img style="padding-top: 12px; padding-bottom: 13px" height="190" src='{% static "img/clients/viterra-dark.png" %}' class="img-responsive" alt="client">
                            </div>
                        </a>
                    </div>

                    <div class="col-md-3 col-sm-3 col-xs-12 client wow fadeInUp">
                        <a href="http://www.agrocorp.com.sg/" target="_blank">
                            <div class="logo-dark">
                                <img src='{% static "img/clients/agro-light.jpg" %}' class="img-responsive" alt="client">
                            </div>
                            <div class="logo-light">
                                <img src='{% static "img/clients/agro-dark.jpg" %}' class="img-responsive" alt="client">
                            </div>
                        </a>
                    </div>



                    <div class="col-md-3 col-sm-3 col-xs-12 client wow fadeInUp">
                        <a href="http://www.glencore.com/" target="_blank">
                            <div class="logo-dark">
                                <img src='{% static "img/clients/gelncore-light.jpg" %}' class="img-responsive" alt="client">
                            </div>
                            <div class="logo-light">
                                <img src='{% static "img/clients/gelncore-dark.jpg" %}' class="img-responsive" alt="client">
                            </div>
                        </a>
                    </div>

                    <div class="col-md-3 col-sm-3 col-xs-12 client wow fadeInUp">
                        <a href="http://www.agtfoods.com/" target="_blank">
                            <div class="logo-dark">
                                <img src='{% static "img/clients/agt-light.jpg" %}' class="img-responsive" alt="client">
                            </div>
                            <div class="logo-light">
                                <img src='{% static "img/clients/agt-dark.jpg" %}' class="img-responsive" alt="client">
                            </div>
                        </a>
                    </div>
                </div>

            </div>
        </div>
        <div class="container">
            <div class="col-md-12 text-center wow fadeInUp">
                <h3 class="section-title my-heading">Our Services.</h3>

            </div>

            <!--<div class="col-md-12 text-center">-->
                <!--<p class="subheading wow fadeInUp">We use <span class="highlight">our expertise</span> of more that 30 years to perform a risk free trade for our client generating optimal profits.</p>-->
            <!--</div>-->

            <div class="row text-center wow fadeInUp">
                {% for service in services %}
                <div class="col-md-3 col-sm-6 service">
                    <span class="icon-{{service.icon_class}} size-6x"></span>
                    <div class="service-info">
                        <h4>{{service.heading}}</h4>
                        <p class="service-description">{{service.content}}</p>
                    </div>
                </div>
                {% endfor %}

            </div>

        </div>


    </section>
    <!-- End About Section -->

    <section id="team">
        <div class="container">

            <div class="col-md-12 text-center wow fadeInUp">
                <h3 class="section-title">Meet the Team.</h3>
                <p class="subheading">Interdisciplinary team with <span class="highlight">big ideas</span> and challenges.</p>
            </div>

            <div class="row">

                <div class="col-md-4 col-sm-3 team-member">
                    <div class="effect effects wow fadeInUp">
                        <div class="img user-img">
                            <img src='{% static "img/bilal.jpeg" %}' class="img-responsive" alt="" />
                            <div class="overlay">
                                <ul class="expand">
                                    <li class="social-icon"><a href="#" onClick="return false;"><i class="icon-social-linkedin"></i></a></li>
                                    <li class="social-icon"><a href="mailto:bilal@donigroup.com"><i class=" icon-envelope-open"></i></a></li>
                                </ul>
                                <a class="close-overlay hidden">x</a>
                            </div>
                        </div>
                    </div>
                    <div class="member-info wow fadeInUp text-align-center">
                        <h4>Bilal Doni</h4>
                        <h5 class="highlight">Head of Sales & Trading</h5>
                        <p>Bilal Doni manages the sales & trading and heads the information technology desk at Doni & Company. Bilal graduated from the Rotman School of Business at the University of Toronto and worked for Moody's in their Toronto office, before joining he agribusiness sector in 2014.</p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-3 team-member">
                    <div class="effect effects wow fadeInUp">
                        <div class="img user-img">
                            <img src='{% static "img/hadi.jpeg" %}' class="img-responsive" alt="" />
                            <div class="overlay">
                                <ul class="expand">
                                    <li class="social-icon"><a href="#" onClick="return false;"><i class="icon-social-linkedin"></i></a></li>
                                    <li class="social-icon"><a href="mailto:hadi@donigroup.com"><i class=" icon-envelope-open"></i></a></li>
                                </ul>
                                <a class="close-overlay hidden">x</a>
                            </div>
                        </div>
                    </div>
                    <div class="member-info wow fadeInUp text-align-center">
                        <h4>Hadi Doni</h4>
                        <h5 class="highlight">Head of Sales</h5>
                        <p>Hadi Doni is involved with sales & trading at Doni & Company. Hadi graduated with an Honours Economics and Accounting degree at Wilfrid Laurier University in Canada. After graduation Hadi worked at Mitsubishi Fund Services as a Fund Accountant. He also attained a CPA, CMA designation from CPA Ontario.</p>
                    </div>
                </div>



                <div class="col-md-4 col-sm-3 team-member">
                    <div class="effect effects wow fadeInUp">
                        <div class="img user-img">
                            <img src='{% static "img/hassan.jpeg" %}' class="img-responsive" alt="" />
                            <div class="overlay">
                                <ul class="expand">
                                    <li class="social-icon"><a href="#" onClick="return false;"><i class="icon-social-linkedin"></i></a></li>
                                    <li class="social-icon"><a href="mailto:hassaan@donigroup.com"><i class=" icon-envelope-open"></i></a></li>
                                </ul>
                                <a class="close-overlay hidden">x</a>
                            </div>
                        </div>
                    </div>
                    <div class="member-info wow fadeInUp text-align-center" >
                        <h4>Hassan Doni</h4>
                        <h5 class="highlight">Head of Business Development</h5>
                        <p>Hassaan Doni handles sales and business development at Doni & Company. He graduated from University of Toronto with a Bachelors in Actuarial Science and Economics.</p>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- Start Quote Section -->
    <section id="quote" class="parallax-section-3">
        <div class="container">
            <div class="row wow fadeInUp">

                <div class="col-lg-12 wow fadeInUp" style="z-index:3">
                    <div id="quote-slider" class="owl-carousel">
                        <div>
                            <blockquote>
                                <i class="icon-left ion-quote ion-2x highlight"></i>
                                <span>
                                    Just because the <b>market</b> is open does not mean you have to trade. <b>Cash</b> is a position too.

                                </span>
                                <i class="icon-right ion-quote ion-2x highlight"></i>
                            </blockquote>
                            <h4 class="quote-author highlight">Unknown</h4>
                        </div>
                        <div>
                            <blockquote>
                                <i class="icon-left ion-quote ion-2x highlight"></i>
                                <span>
                                    A <b>trader</b> should look at a <b>chart</b> for what it is, and not for what he <b>wants</b> it to be.
                                </span>
                                <i class="icon-right ion-quote ion-2x highlight"></i>
                            </blockquote>
                            <h4 class="quote-author highlight">Unknown</h4>
                        </div>
                        <div>
                            <blockquote>
                                <i class="icon-left ion-quote ion-2x highlight"></i>
                                <span>
                                    Over two billion people in <b>China</b> and <b>India</b> need commodities to grow their economies and improve their living standards.
                                </span>
                                <i class="icon-right ion-quote ion-2x highlight"></i>
                            </blockquote>
                            <h4 class="quote-author highlight">Ivan Glasenberg</h4>
                        </div>
                        <div>
                            <blockquote>
                                <i class="icon-left ion-quote ion-2x highlight"></i>
                                <span>
                                    Two Rules on Investing - Rule No. 1: <b>Never lose money.</b> Rule No. 2: <b>Never forget rule No.1</b>
                                </span>
                                <i class="icon-right ion-quote ion-2x highlight"></i>
                            </blockquote>
                            <h4 class="quote-author highlight">Warren Buffett</h4>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- End Quote Section -->

    <!-- Start Contact Form Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <h2 class="section-title wow fadeInUp">LET’S WORK TOGETHER.</h2>
                <div class="col-md-6">
                    <!-- Start Google Map Section -->
                    <div id="map"></div>
                    <!-- End Google Map Section -->
                </div>
                <div class="col-md-6">
                    <div class="col-md-12 text-center wow fadeInUp">
                        <div id="message" style="color:#ffffff; font-size: 26px;font-weight: bold;"></div>
                        <!-- Contact Form will be functional only on your server. Upload to your server when testing. -->
                        <form method="post" name="contactform" id="contactform">
                            <fieldset>
                                <input name="name" type="text" id="name" placeholder="Name" autocomplete="off"/>
                                <input name="email" type="text" id="email" placeholder="Email" autocomplete="off"/>
                                <input name="subject" type="text" id="subject" placeholder="Subject" autocomplete="off"/>
                            </fieldset>
                            <fieldset>
                                <textarea name="comments" cols="40" rows="3" id="comments" placeholder="Message" autocomplete="off"></textarea>
                            </fieldset>
                            <input type="submit" class="submit" id="submit" value="Send Message" />
                        </form>
                    </div>
                </div>
            </div>
            <!--<div class="row" style="margin-top:40px;">-->
            <!--<div class="col-md-12 text-center wow fadeInUp" >-->
            <!--<p><b>We would love to hear from you so let's get in touch!</b></p>-->
            <!--<h4>CONTACT US TODAY!</h4>-->
            <!--<p><b>2101, Shalimar Center, Altaf Hussain Road, New Challi</b><br><b>Karachi, 74200</b><br><b>(92) 21-3243-0152</b></p>-->
            <!--</div>-->
            <!--</div>-->
        </div>
    </section>
    <!-- End Contact Form Section -->

    {% include "footer.html" %}

    <!-- Start Back To Top -->
    <a id="back-to-top"><i class="icon ion-chevron-up"></i></a>
    <!-- End Back To Top -->

</div><!-- End Site Wrapper -->


{% endblock content %}

{% block marquee %}
<!-- End Header -->
<!--<div class="col-lg-12 hidden-sm hidden-xs international-bar">-->
<!--</div>-->
<!--<div class="col-lg-12 hidden-sm hidden-xs local-bar price-bar">-->
<!--<div class="col-lg-1">-->
<!--<p class="product-item">Local PKT</p>-->
<!--</div>-->
<!--<div class="col-lg-11">-->
<!--<marquee scrolldelay="1" id="LocalPrices">-->
<!--</marquee>-->

<!--</div>-->

<!--</div>-->
{% endblock %}

{% block extrajs %}
<!--<script src='{% static "js/marque.js" %}'></script>-->
<script>
    var price_in_pkr_pkg = false;
    var price_in_usd_pmt = false;
    $(".usd_pmt-price").addClass("display-none");
    $(".pkr-pkg-price").addClass("display-none");

    $(window).load(function() {
        $('.marquee').marquee({
            pauseOnHover: true,
            duplicated: true,
            delayBeforeStart: 100,
            duration: 20000
        });

        var pkr_pkg = document.getElementById('rs_to_kg');
        var usd_pmt = document.getElementById('us_pmt');

        pkr_pkg.onclick = function(){
            if(price_in_pkr_pkg){
                price_in_pkr_pkg = false;
                $(".normal-price").removeClass("display-none");
                $(".pkr-pkg-price").addClass("display-none");
                $("#rs_to_kg").removeClass('active');
            }else {
                price_in_pkr_pkg = true;
                price_in_usd_pmt = false;
                $(".normal-price").addClass("display-none");
                $(".usd_pmt-price").addClass("display-none");
                $(".pkr-pkg-price").removeClass("display-none");

                $("#rs_to_kg").addClass("active");
                $("#us_pmt").removeClass("active");
            }
        };

        usd_pmt.onclick = function(){
            if(price_in_usd_pmt){
                price_in_usd_pmt = false;
                $(".normal-price").removeClass("display-none");
                $(".usd_pmt-price").addClass("display-none");
                $("#us_pmt").removeClass("active");
            }else{
                price_in_pkr_pkg = false;
                price_in_usd_pmt = true;
                $(".normal-price").addClass("display-none");
                $(".pkr-pkg-price").addClass("display-none");
                $(".usd_pmt-price").removeClass("display-none");
                $("#us_pmt").addClass('active');
                $("#rs_to_kg").removeClass('active');
            }
        };

    });

    $('nav').removeClass("navbar-small");
    $('nav').addClass("navbar-top-80px");
    /* -------------------
     Google map
     ---------------------*/


    var center = [24.85193, 67.00657];
    if($('#map').length > 0){
        $('#map')
                .gmap3({
                    center: center,
                    styles: [ { stylers: [ { "saturation":-90 }, { "lightness": 0 }, { "gamma": 0.0 }]},],
                    zoom: 16,
                    scrollwheel:false,
                    draggable: true,
                    mapTypeId : google.maps.MapTypeId.ROADMAP
                })
                .marker({
                    position: center,
                    icon: '{% static "img/assets/marker.png" %}'
                });
    }





</script>
{%  endblock %}

