{% extends "base2.html" %}
{% load staticfiles %}
{% block content %}

<!-- Start Page Top -->
<section id="page-top" style="height:400px">
    <div class="hero">

        <img src='{% static "img/backgrounds/blog-background.jpg" %}' alt="hero">

        <div class="page-top-title text-center">
            <h2 class="white op-1">Doni & Company Blogs</h2>
            <p class="home-subheading op-1">Read our market research</p>
        </div>

    </div>
</section>
<!-- End Page Top -->

<div class="site-wrapper content">

    <!-- Start Blog Classic -->
    <section id="blog">
        <div class="container">
            <div class="row">
                <!-- Blog Post -->
                <div class="col-md-8">
                    <div class="blog-post">
                        <h3 class="blog-post-title">{{ instance.title }}</h3>
                        <p class="lead"></p>
                        <div class="author-description">
                            <div class="author-image">
                                <img width="60" src='{{ instance.user.profile.profile_pic.url }}' />
                            </div>
                            <div class="details">
                                <div class="author-name">{{ instance.user.get_full_name }}</div>
                                <div class="author-designation">{{ instance.user.profile.designation }}</div>
                                <div class="author-designation">{{instance.user.profile.business.bp_name}}</div>
                            </div>
                        </div>
                        <ul class="blog-post-info">

                            <li>
                                {% for tag in instance.all_tags %}
                                <a href="#"><i class="ion-pricetag"></i>{{ tag.name }}</a>
                                {% endfor %}
                            </li>
                            <li><a href="#"><i class="ion-chatboxes"></i> {{ instance.comments | length }} Comments</a></li>
                        </ul>
                        <!--<ul class="blog-post-info">-->
                        <!--<li><a href="#"><i class="ion-clock"></i> {{ instance.publish.day }} {{ instance.publish |date:"F"  }} {{ instance.publish|date:"Y"}}</a></li>-->
                        <!--<li><a href="#"><i class="ion-person"></i> By {{ instance.user.get_full_name }}</a></li>-->
                        <!--<li><a href="#"><i class="ion-folder"></i> Design, Branding</a></li>-->
                        <!--<li><a href="#"><i class="ion-chatboxes"></i> {{ instance.comments | length }} Comments</a></li>-->
                        <!--</ul>-->
                        <a href="#">
                            <img class="img-responsive blog-img" src="{{ instance.image.url }}" alt="">
                        </a>
                        {% autoescape off %}
                        {{ instance.get_markdown }}
                        {% endautoescape %}

                        </br>


                        <!-- Comments -->
                        <div class="comments">

                            <div class="fb-comments"
                                 data-href="{{base_url}}"
                                 data-numposts="10"
                                 data-width="100%" >
                            </div>

                        </div>


                        <!-- Comment Form -->
                        <!--<div class="comment-form">-->
                        <!--<h4 class="comments-title">Leave a comment</h4>-->

                        <!--<form method="post" action="php/contact-form.php" name="contactform" id="contactform">-->
                        <!--<fieldset>-->
                        <!--<input name="name" type="text" id="name" placeholder="Name"/>-->
                        <!--<input name="email" type="text" id="email" placeholder="Email"/>-->
                        <!--<input name="subject" type="text" id="subject" placeholder="Website"/>-->
                        <!--</fieldset>-->
                        <!--<fieldset>-->
                        <!--<textarea name="comments" cols="40" rows="3" id="comments" placeholder="Comment"></textarea>-->
                        <!--</fieldset>-->
                        <!--</form>-->
                        <!--<a class="btn btn-primary btn-xs" href="#">Post Comment</a>-->
                        <!--</div>-->

                        <hr>
                        <!-- Pager -->
                        <!--<ul class="pager">-->
                            <!--<li class="previous">-->
                                <!--<a href="#"><i class="ion-android-arrow-back"></i></a>-->
                            <!--</li>-->
                            <!--<li class="next">-->
                                <!--<a href="#"><i class="ion-android-arrow-forward"></i></a>-->
                            <!--</li>-->
                        <!--</ul>-->

                    </div>

                </div>

                {% include "blog_sidebar.html" %}

            </div>
        </div>
    </section>
    <!-- End Blog Classic -->

    {% include "footer.html" %}


    <!-- Start Back To Top -->
    <a id="back-to-top"><i class="icon ion-chevron-up"></i></a>
    <!-- End Back To Top -->

</div><!-- End Site Wrapper -->

{% endblock content %}

{% block extrajs %}
<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.9&appId=1722522257998321";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
{% endblock %}