{% extends "base2.html" %}
{% load staticfiles %}
{% block content %}

<section id="price-list" class="parallax-section-6" style="background-position: 50% -117px;">
    <div class="container">

        <!--<div class="col-md-12 text-center">-->
        <!--<h3 class="section-title wow fadeInUp animated" style="visibility: visible;">Pricing</h3>-->
        <!--<p class="subheading wow fadeInUp animated" style="visibility: visible;"></p>-->
        <!--</div>-->

        <!--<div id="filters-container-fullwidth" class="cbp-l-filters-alignCenter wow fadeInUp animated" style="visibility: visible;">-->
        <!--<div data-filter="*" class="cbp-filter-item-active cbp-filter-item">All-->
        <!--<div class="cbp-filter-counter">{{ allProducts | length }}</div>-->
        <!--</div>-->
        <!--{% for prod in allProducts %}-->
        <!--<div data-filter=".prodItem_{{ prod.id }}" class="cbp-filter-item">{{ prod.name }}-->
        <!--<div class="cbp-filter-counter">{{ prod.product_items | length }}</div>-->
        <!--</div>-->
        <!--{% endfor %}-->
        <!--</div>-->


        <div class="row wow fadeInUp animated" style="visibility: visible;">
            {% for summary in priceSummary %}
            {% if summary.localPrice != 'NA' or summary.internationalPrice != 'NA'  %}
            <div class="col-md-6 col-sm-12 col-xs-12 cbp-item prodItem_{{ summary.productItemId }}" style="margin-right: 0px;">
                <div class="price-box">
                    <div class="price-table">
                        <h3 class="label">
                            <img style="padding-right: 10px"
                                 src="{{ summary.originFlag }}"
                                 width="30" height="30">{{summary.productName | slice:":16"}}</h3>
                        <div class="col-md-12">
                            <span class="feature option-button no-border">
                                    <a href="{% url 'web:pricing_detail' %}?id={{ summary.productItemId }}"
                                       style="color: #fff; font-weight: bold; font-weight: bold !important;"
                                       class="btn-effect red-background">View Price Charts</a>
                                </span>
                        </div>

                        <div class="col-md-6 col-xs-6">
                            <p class="price grey">
                                <span class="time-period">International Market</span>
                                {% if summary.internationalPrice != 'NA'  %}
                                <sup class="currency">$</sup>
                                <span class="pricing">{{summary.internationalPrice |floatformat:2}}</span>
                                <span class="time-period">per {{summary.internationalMetric}}</span>
                                {% endif %}
                                {% if summary.internationalPrice == 'NA'  %}
                                <span class="pricing">{{summary.internationalPrice}}</span>
                                {% endif %}
                            </p>

                            <p class="price grey">
                                {% if summary.internationalChange != 'NA'  %}
                                <sup class="change-symbol">
                                    {% if summary.internationalChange > 0  %}
                                    <i class="fa fa-caret-up"></i>
                                    {% endif %}
                                    {% if summary.internationalChange < 0  %}
                                    <i class="fa fa-caret-down"></i>
                                    {% endif %}
                                </sup>
                                <span class="change-number"> $ {{summary.internationalChange |floatformat:2}}</span>
                                <span class="">per {{summary.internationalMetric}}</span>
                                {% endif %}
                            </p>

                        </div>
                        <div class="col-md-6 col-xs-6">
                            <p class="price grey">
                                <span class="time-period">Pakistan Market</span>
                                {% if summary.localPrice != 'NA'  %}
                                <sup class="currency">PKR</sup>
                                <span class="pricing">{{summary.localPrice |floatformat:2}}</span>
                                <span class="time-period">per {{summary.localMetric}}</span>
                                {% endif %}
                                {% if summary.localPrice == 'NA'  %}
                                <span class="pricing">{{summary.localPrice}}</span>
                                {% endif %}
                            </p>
                            <p class="price grey">
                                {% if summary.localChange != 'NA'  %}
                                <sup class="change-symbol">
                                    {% if summary.localChange > 0  %}
                                    <i class="fa fa-caret-up"></i>
                                    {% endif %}
                                    {% if summary.localChange < 0  %}
                                    <i class="fa fa-caret-down"></i>
                                    {% endif %}
                                </sup>
                                <span class="change-number">PKR {{summary.localChange |floatformat:2}}</span>
                                <span class="">per {{summary.localMetric}}</span>
                                {% endif %}
                            </p>
                        </div>

                        <div class="col-md-12">
                            <p class="features grey">

                                <span class="feature col-md-12">
                                    {% if summary.weeklyInternational.high != 'NA'  %}
                                    <span class="item col-md-4 col-xs-4">$ {{summary.weeklyInternational.high}} per {{summary.internationalMetric}}</span>
                                    {% endif %}
                                    {% if summary.weeklyInternational.high == 'NA'  %}
                                    <span class="item col-md-4 col-xs-4">NA</span>
                                    {% endif %}
                                    <span class="item col-md-4 col-xs-4 heading">Weekly High</span>
                                    {% if summary.weeklyLocal.high != 'NA'  %}
                                    <span class="item col-md-4 col-xs-4">PKR {{summary.weeklyLocal.high}} per {{summary.localMetric}}</span>
                                    {% endif %}
                                    {% if summary.weeklyLocal.high == 'NA'  %}
                                    <span class="item col-md-4 col-xs-4">NA</span>
                                    {% endif %}
                                </span>

                                <span class="feature col-md-12">
                                    {% if summary.weeklyInternational.low != 'NA'  %}
                                    <span class="item col-md-4 col-xs-4">$ {{summary.weeklyInternational.low}} per {{summary.internationalMetric}}</span>
                                    {% endif %}
                                    {% if summary.weeklyInternational.low == 'NA'  %}
                                    <span class="item col-md-4 col-xs-4">NA</span>
                                    {% endif %}
                                    <span class="item col-md-4 col-xs-4 heading">Weekly Low</span>
                                    {% if summary.weeklyLocal.low != 'NA'  %}
                                    <span class="item col-md-4 col-xs-4">PKR {{summary.weeklyLocal.low}} per {{summary.localMetric}}</span>
                                    {% endif %}
                                    {% if summary.weeklyLocal.low == 'NA'  %}
                                    <span class="item col-md-4 col-xs-4">NA</span>
                                    {% endif %}
                                </span>


                                <span class="feature col-md-12">
                                    {% if summary.monthlyInternational.high != 'NA'  %}
                                    <span class="item col-md-4 col-xs-4">$ {{summary.monthlyInternational.high}} per {{summary.internationalMetric}}</span>
                                    {% endif %}
                                    {% if summary.weeklyInternational.high == 'NA'  %}
                                    <span class="item col-md-4 col-xs-4">NA</span>
                                    {% endif %}
                                    <span class="item col-md-4 col-xs-4 heading">Monthly High</span>
                                    {% if summary.weeklyLocal.high != 'NA'  %}
                                    <span class="item col-md-4 col-xs-4">PKR {{summary.monthlyLocal.high}} per {{summary.localMetric}}</span>
                                    {% endif %}
                                    {% if summary.monthlyLocal.high == 'NA'  %}
                                    <span class="item col-md-4 col-xs-4">NA</span>
                                    {% endif %}
                                </span>

                                <span class="feature col-md-12">
                                    {% if summary.monthlyInternational.low != 'NA'  %}
                                    <span class="item col-md-4 col-xs-4">$ {{summary.monthlyInternational.low}} per {{summary.internationalMetric}}</span>
                                    {% endif %}
                                    {% if summary.monthlyInternational.low == 'NA'  %}
                                    <span class="item col-md-4 col-xs-4">NA</span>
                                    {% endif %}
                                    <span class="item col-md-4 col-xs-4 heading">Monthly Low</span>
                                    {% if summary.monthlyLocal.low != 'NA'  %}
                                    <span class="item col-md-4 col-xs-4">PKR {{summary.monthlyLocal.low}} per {{summary.localMetric}}</span>
                                    {% endif %}
                                    {% if summary.monthlyLocal.low == 'NA'  %}
                                    <span class="item col-md-4 col-xs-4">NA</span>
                                    {% endif %}
                                </span>


                                <span class="feature col-md-12">
                                    <span class="date-item col-md-4 col-xs-4">{{summary.intLastUpdated}} PST</span>
                                    <span class="item col-md-4 col-xs-4">Last Updated</span>
                                    <span class="date-item col-md-4 col-xs-4">{{summary.localLastUpdated}} PST</span>
                                </span>

                            </p>
                        </div>


                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}


        </div>
    </div>
</section>





{% endblock content %}