{% extends "base2.html" %}
{% load staticfiles %}

{% block extrastyles %}
<link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
<link rel="stylesheet" href='{% static "css/daterangepicker.css" %}' id="color-skins"/>
{%  endblock %}



{% block content %}

<div id="cover"></div>
<section id="price-list" class="parallax-section-6" style="height:auto; background-position: 50% -117px;">
    <div class="col-md-12 text-center wow fadeInUp">
        <h3 class="section-title">

            {{productItem.product_origin.product.name}}</h3>
        <p class="subheading">{{productItem.keyword_str}}</p>
    </div>

    <div class="container" style="height:100%">
        <div class="col-md-offset-8 col-md-4">
            <div class="metric-selector">
                <span id="PkrPkg">Rs/kg</span> <span id="UsdPmt">US$/MT</span>
            </div>

            <div id="priceReportRange" class="pull-right dropdown" style="">
                <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
                <span></span> <b class="caret"></b>
            </div>

            <div class="importTotal">
                <div style="font-weight: bold">Total Import</div>
                <div id="totalImport"></div>
            </div>
            <!--<div>-->
            <!--<li class="dropdown">-->
            <!--<a href="#" id="myTabDrop1" class="dropdown-toggle" data-toggle="dropdown"></b></a>-->
            <!--<ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1">-->
            <!--<li><a href="#dropdown-1" tabindex="-1" data-toggle="tab">International Price (USD)</a></li>-->
            <!--<li><a href="#dropdown-2" tabindex="-1" data-toggle="tab">Local Price (PKR)</a></li>-->
            <!--</ul>-->
            <!--</li>-->
            <!--</div>-->
        </div>

        <div style="width:100%; height:400px;" id="chartdiv"></div>
    </div>
</section>

{% endblock content %}


{% block extrajs %}



<script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
<script src="https://www.amcharts.com/lib/3/serial.js"></script>
<script src="https://www.amcharts.com/lib/3/amstock.js"></script>
<script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
<script src='{% static "js/plugins/moment.min.js" %}'></script>
<script src='{% static "js/plugins/moment.min.js" %}'></script>
<script src='{% static "js/daterangepicker.js" %}'></script>

<script>
    $(function() {
        var allData = {};
        var usdPmtId = 'UsdPmt';
        var pkrPkgId = 'PkrPkg';
        var usdPmt = document.getElementById(usdPmtId);
        var pkrPkg = document.getElementById(pkrPkgId);

        usdPmt.onclick = function(){
            $('#'+usdPmtId).addClass("active");
            $('#'+pkrPkgId).removeClass("active");
            make_charts(getGraphs(usdPmtId), allData.graphData)
        };
        pkrPkg.onclick = function(){
            $('#'+pkrPkgId).addClass("active");
            $('#'+usdPmtId).removeClass("active");
            make_charts(getGraphs(pkrPkgId), allData.graphData)
        };

        function getUrlParameter(name) {
            name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
            var regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
            var results = regex.exec(location.search);
            return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '));
        }

        var start = moment().subtract(29, 'days');
        var end = moment();
        var dateAPIFormat = 'YYYY-MM-DD';
        function cb(start, end) {
            $('#priceReportRange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
            get_graph_data(start.format(dateAPIFormat), end.format(dateAPIFormat));
        }

        function make_charts(graphs, graphData){
            var chart = AmCharts.makeChart("chartdiv", {
                "type": "serial",
                "theme": "light",
                "dataDateFormat": "YYYY-MM-DD",
                "precision": 2,
                "valueAxes": [{
                    "id": "v1",
                    "title": "Import Volume (Pakistan)",
                    "position": "left",
                    "autoGridCount": false,
                    "labelFunction": function(value) {
                        return "$" + Math.round(value) + "M";
                    }
                }, {
                    "id": "v2",
                    "title": "International Price",
                    "gridAlpha": 0,
                    "position": "right",
                    "autoGridCount": false
                }],
                "graphs": graphs,
                "chartScrollbar": {
                    "graph": "g1",
                    "oppositeAxis": false,
                    "offset": 30,
                    "scrollbarHeight": 50,
                    "backgroundAlpha": 0,
                    "selectedBackgroundAlpha": 0.1,
                    "selectedBackgroundColor": "#888888",
                    "graphFillAlpha": 0,
                    "graphLineAlpha": 0.5,
                    "selectedGraphFillAlpha": 0,
                    "selectedGraphLineAlpha": 1,
                    "autoGridCount": true,
                    "color": "#AAAAAA"
                },
                "chartCursor": {
                    "pan": true,
                    "valueLineEnabled": true,
                    "valueLineBalloonEnabled": true,
                    "cursorAlpha": 0,
                    "valueLineAlpha": 0.2
                },
                "categoryField": "date",
                "categoryAxis": {
                    "parseDates": true,
                    "dashLength": 1,
                    "minorGridEnabled": true
                },
                "legend": {
                    "useGraphSettings": true,
                    "position": "top"
                },
                "balloon": {
                    "borderThickness": 1,
                    "shadowAlpha": 0
                },
                "export": {
                    "enabled": true
                },
                "dataProvider": graphData
            });
        }

        function getGraphs(state){
            var metric =  (state == usdPmtId) ? 'MT' : 'Kg';
            var currency =  (state == usdPmtId) ? 'US $' : 'Rs.';
            var graphs = [
                {
                    "id": "g3",
                    "valueAxis": "v1",
                    "lineColor": "#3D3938",
                    "fillColors": "#3D3938",
                    "fillAlphas": 1,
                    "type": "column",
                    "title": "Import Volume",
                    "valueField": "importVolume",
                    "clustered": false,
                    "columnWidth": 0.5,
                    "legendValueText": "[[value]]FCL",
                    "balloonText": "[[title]]<br /><b style='font-size: 130%'>[[value]] FCL</b>"
                },
                {
                    "id": "g1",
                    "valueAxis": "v2",
                    "bullet": "round",
                    "bulletBorderAlpha": 1,
                    "bulletColor": "#2C9BFF",
                    "bulletSize": 5,
                    "hideBulletsCount": 50,
                    "lineThickness": 3,
                    "lineColor": "#2C9BFF",
                    "type": "smoothedLine",
                    "title": "International Price",
                    "useLineColorForBulletBorder": true,
                    "valueField": "int"+state,
                    "legendValueText": currency +" [[value]] " + metric,
                    "balloonText": "[[title]]<br /><b style='font-size: 130%'>"+ currency +"[[value]]"+ metric +"</b>"
                },
                {
                    "id": "g2",
                    "valueAxis": "v2",
                    "bullet": "round",
                    "bulletBorderAlpha": 1,
                    "bulletColor": "#0aec92",
                    "bulletSize": 5,
                    "hideBulletsCount": 50,
                    "lineThickness": 3,
                    "lineColor": "#0aec92",
                    "type": "smoothedLine",
                    "title": "Local Price",
                    "useLineColorForBulletBorder": true,
                    "valueField": "local"+state,
                    "legendValueText": currency +" [[value]] " + metric,
                    "balloonText": "[[title]]<br /><b style='font-size: 130%'>"+ currency +"[[value]]"+ metric +"</b>"
                }
            ];
            return graphs;
        }



        function get_graph_data(startDate, endDate){
            $('#cover').fadeIn();
            var productItemId = getUrlParameter('id');
            $.ajax({
                url: window.location.origin+"/api/website/pricing/graph/"+productItemId+"/"+startDate+"/"+endDate+'/',
                type: 'GET',
                success: function(res) {
                     $('#cover').fadeOut(1000);
                    allData = res;
                    $('#'+pkrPkgId).addClass("active");
                    document.getElementById('totalImport').innerText= (res.totalImport) ? res.totalImport+' FCL' : 'NA';
                    make_charts(getGraphs('PkrPkg'), res.graphData);
                }
            });
        }

        $('#priceReportRange').daterangepicker({
            startDate: start,
            endDate: end,
            ranges: {
                'Today': [moment().startOf('day'), moment().endOf('day').subtract(1, 'seconds')],
                'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                'Last 7 Days': [moment().subtract(7, 'days'), moment()],
                'Last 2 Weeks': [moment().subtract(14,'days').startOf('day'),moment().endOf('day')],
                'Last 30 Days': [moment().subtract(30, 'days'), moment()],
                'This Month': [moment().startOf('month'), moment()],
                'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')],
                'This Year': [moment().startOf('year'), moment()],
                'Last 1 Year': [moment().subtract(1, 'year'),moment()]
            }
        }, cb);

        cb(start, end);

        $('#priceReportRange').on('apply.daterangepicker', function(ev, picker) {
            //do something, like clearing an input
            $('#daterange').val('');
            var start_date = (picker.startDate.format(dateAPIFormat));
            var end_date = (picker.endDate.format(dateAPIFormat));
            get_graph_data(start_date, end_date);
        });

    });
</script>

<script>

</script>
{%  endblock %}


