{% extends "base2.html" %}
{% load staticfiles %}
{% block content %}

<div class="site-wrapper content">

    <section id="portfolio" style="position: relative;" class="current">
        <div class="separator"></div>
        <div class="container">

            <div class="col-md-12 text-center">
                <h3 class="section-title wow fadeInUp animated" style="visibility: visible;">Privacy Policy</h3>
            </div>

            <div style="height:600px;"></div>

        </div>
    </section>

    {% include "footer.html" %}


    <!-- Start Back To Top -->
    <a id="back-to-top"><i class="icon ion-chevron-up"></i></a>
    <!-- End Back To Top -->

</div>

{% endblock content %}