{% extends "base2.html" %}
{% load staticfiles %}
{% block content %}


<!--&lt;!&ndash; Start Page Top &ndash;&gt;-->
<!--<section id="page-top" style="height:400px">-->
<!--<div class="hero" style="height:100%;">-->

<!--<img src='{% static "img/backgrounds/product-background.jpg" %}' alt="hero">-->

<!--<div class="page-top-title text-center">-->
<!--<h2 class="white op-1">Products</h2>-->
<!--<p class="home-subheading op-1"></p>-->
<!--</div>-->

<!--</div>-->
<!--</section>-->
<!--&lt;!&ndash; End Page Top &ndash;&gt;-->


<div class="site-wrapper content">

    <section id="portfolio" style="position: relative;" class="current">
        <div class="separator"></div>
        <div class="container">

            <div class="col-md-12 text-center">
                <h3 class="section-title wow fadeInUp animated" style="visibility: visible;">Products</h3>
                <!--<p class="subheading wow fadeInUp animated" style="visibility: visible;">Creating products and services that <span class="highlight">transform brands</span>.</p>-->
            </div>

            <div id="filters-container-fullwidth" class="cbp-l-filters-alignCenter wow fadeInUp animated" style="visibility: visible;">
                <div id="most_traded_btn" data-filter=".most_traded" class="cbp-filter-item ">Most Traded
                    <div class="cbp-filter-counter">{{ most_traded_count }}</div>
                </div>

                <div data-filter="*" class="cbp-filter-item cbp-filter-item-active">All
                    <div class="cbp-filter-counter">{{ products | length }}</div>
                </div>
                {% for cat in categories %}
                <div data-filter=".{{ cat.class }}" class="cbp-filter-item">{{ cat.name }}
                    <div class="cbp-filter-counter">{{ cat.count }}</div>
                </div>
                {% endfor %}
            </div>

            <div id="grid-container-fullwidth" class="cbp-l-grid-fullScreen">
                <ul>
                    {% for product in products %}
                    <li class="cbp-item effect effects {{ product.category.category_class }} {{product.most_traded}}">
                        <div class="img">
                            <img style="height:400px" src="{{ product.image }}" class="img-responsive" alt="" />
                            <a href="{% url 'web:pricing_detail' %}?id={{ product.most_traded_product.id }}">
                                <div class="product-overlay" style="">
                                {% if product.most_traded == 'most_traded' %}
                                <div class="product-price-thing col-xs-12">
                                    <div class="col-xs-5 int">
                                        <div>International</div>
                                        <!--<p class="grey">-->
                                            <!--{% if product.most_traded_product.price_market_summary.internationalChange != 'NA'  %}-->
                                            <!--<sup class="change">-->
                                                <!--{% if product.most_traded_product.price_market_summary.internationalChange > 0  %}-->
                                                <!--<i class="fa fa-caret-up"></i>-->
                                                <!--{% endif %}-->
                                                <!--{% if product.most_traded_product.price_market_summary.internationalChange < 0  %}-->
                                                <!--<i class="fa fa-caret-down"></i>-->
                                                <!--{% endif %}-->
                                            <!--</sup>-->
                                            <!--{% endif %}-->
                                        <!--</p>-->
                                        <div class="price">
                                            <span class="currency">$</span>
                                            <span class="pricing">{{product.most_traded_product.price_market_summary.internationalPrice |floatformat:2}}</span>
                                            <span class="time-period">per {{product.most_traded_product.price_market_summary.internationalMetric}}</span>
                                        </div>
                                    </div>
                                    <div class="col-xs-2">
                                        <img style="width:40px; height: 30px"
                                             src="{{ product.most_traded_product.price_market_summary.originFlag }}"
                                             width="30" height="30">
                                    </div>

                                    <div class="col-xs-5 local">
                                        <div>Local</div>
                                        <!--<p class="price grey">-->
                                            <!--{% if product.most_traded_product.price_market_summary.localChange != 'NA'  %}-->
                                            <!--<sup class="change">-->
                                                <!--{% if product.most_traded_product.price_market_summary.localChange > 0  %}-->
                                                <!--<i class="fa fa-caret-up"></i>-->
                                                <!--{% endif %}-->
                                                <!--{% if product.most_traded_product.price_market_summary.localChange < 0  %}-->
                                                <!--<i class="fa fa-caret-down"></i>-->
                                                <!--{% endif %}-->
                                            <!--</sup>-->
                                            <!--{% endif %}-->
                                        <!--</p>-->
                                        <div class="price">
                                            <span class="currency">PKR</span>
                                            <span class="pricing">{{product.most_traded_product.price_market_summary.localPrice |floatformat:2}}</span>
                                            <span class="time-period">per {{product.most_traded_product.price_market_summary.localMetric}}</span>
                                        </div>

                                    </div>
                                </div>
                                {% endif %}
                                <ul class="product-expand expand">
                                    <li class="cbp-l-caption-title" style="font-size: 24px;">
                                        <!--<a style="color: #ffffff;" href="{% url 'web:single_product' %}?id={{ product.id }}">{{ product.name }}</a>-->
                                        <div style="color: #ffffff;" href="">{{ product.name }}</div>
                                    </li>
                                    <li class="cbp-l-caption-desc" style="font-size:16px; color: #ffffff;">{{ product.category.name}}</li>
                                    {% if product.most_traded == 'most_traded' %}
                                    <li>
                                        <div class="col-md-12">
                                            <span class="feature option-button no-border">
                                                <a href="{% url 'web:pricing_detail' %}?id={{ product.most_traded_product.id }}"
                                                   style="padding: 7px; color: #fff; font-weight: bold; font-weight: bold !important;"
                                                   class="btn-effect red-background">View Price Charts</a>

                                            </span>
                                        </div>
                                    </li>
                                    {% endif %}
                                </ul>
                            </div>
                            </a>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>


        </div>
    </section>

    {% include "footer.html" %}


    <!-- Start Back To Top -->
    <a id="back-to-top"><i class="icon ion-chevron-up"></i></a>
    <!-- End Back To Top -->

</div>

{% endblock content %}


{% block extrajs %}

<script>
    window.onload = function(){
        console.log('hello');
        document.getElementById("most_traded_btn").click();
    };

</script>

{%  endblock %}