{% extends "base2.html" %}
{% load staticfiles %}
{% block content %}

<!-- Start Page Top -->
<section id="page-top" style="height:400px">
    <div class="hero">
        <img src='{{ web_obj.image }}' alt="hero">
        <div class="page-top-title text-center">
            <h2 class="white op-1">{{ product.name }}</h2>
            <p class="home-subheading op-1">{{ product.category.name }}</p>
        </div>
    </div>
</section>
<!-- End Page Top -->

<div class="site-wrapper content">
    <section id="project-page-title">
        <div class="container">
            <div class="row text-center" style="margin:100px 0 0 0;">
                {#                    <div class="col-lg-12">#}
                {#                        <h2 class="project-title">{{ product.name }}</h2>#}
                {#                        <p class="project-subtitle">{{ product.category.name }}</p>#}
                {#                    </div>#}
            </div>
        </div>
    </section>


    <div class="container">
        <div class="row">

            <div class="col-lg-12 col-sm-12">

                <div class="project-widget">
                    <h4>Description</h4>
                    {% autoescape off %}
                    {{ product.description }}
                    {% endautoescape %}
                </div>

            </div>

            <br>

            <div class="col-lg-12 col-sm-12">
                <div class="project-widget">
                    <h4 style="margin-left: 20px;">Product Variety</h4>
                    <div class="tags-list col-lg-12 col-xs-12">
                        {% for item in product.product_items %}
                        <div class="col-md-12 productItemCard" style="cursor: default; margin-bottom: 10px; font-size: 14px; font-weight: bold;">
                            <div class="card">
                                <div class="details">
                                    <div class="name">{{item.product_origin.country.name}}</div>

                                    {% if item.keyword_str != ''  %}
                                    <div class="keywords">{{item.keyword_str}}</div>
                                    {% endif %}

                                    {% if item.keyword_str == ''  %}
                                    <div class="keywords">No Quality Keywords</div>
                                    {% endif %}

                                    <div class="flag"><img src="{{ item.product_origin.country.flag }}" width="60" height="60"></div>

                                </div>

                                <div class="col-md-12 col-sm-12">
                                    <div class="progress-bars" style="margin-top: 40px;">
                                        {% for spec in item.specs %}
                                            {% if spec.value %}
                                                <p>{{spec.name}}</p>
                                                <div class="progress" data-percent="{{spec.value}}%">
                                                    <div class="progress-bar" style="width: {{spec.value}}%;">
                                                        <span class="progress-bar-tooltip">{{spec.value}}%</span>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>

                                {% if item.price_on_website %}
                                <div class="row report-button">
                                    <a href="{% url 'web:pricing_detail' %}?id={{ item.id }}" class="btn-effect">Pricing and Import Volume Report</a>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>





        </div>
    </div><!-- End Container -->
</div>


{% endblock content %}

{% block extrajs %}

{% endblock %}