{% extends "base2.html" %}
{% load staticfiles %}
{% block content %}

    <!-- Start Page Top -->
    <section id="page-top" style="height:400px">
        <div class="hero" style="height:100%;">

            <img src='{{ web_obj.image }}' alt="hero">

            <div class="page-top-title text-center">
                <h2 class="white op-1">{{ product.name }}</h2>
                <p class="home-subheading op-1">{{ product.category.name }}</p>
            </div>

        </div>
    </section>
    <!-- End Page Top -->
    <div class="site-wrapper content">
        <section id="project-page-title">
            <div class="container">
                <div class="row text-center" style="margin:100px 0 0 0;">
                    {#                    <div class="col-lg-12">#}
                    {#                        <h2 class="project-title">{{ product.name }}</h2>#}
                    {#                        <p class="project-subtitle">{{ product.category.name }}</p>#}
                    {#                    </div>#}
                </div>
            </div>
        </section>


        <div class="container">
            <div class="row">

                <div class="col-lg-8">

                    <div class="project-widget">
                        <h4>Description</h4>
                        <p>{{ product.description }}</p>
                    </div>



                </div>

                <div class="col-lg-4">

                    <div class="project-widget">
                        <h4>Origins</h4>
                        <div class="tags-list">
                            {% for country in product.origins %}
                                <div style="cursor: default; margin-bottom: 10px; font-size: 14px; font-weight: bold;"><img src="{{ country.country.flag }}"
                                                                                                                            width="50" height="50">
                                    &nbsp; &nbsp;{{country.country.name}}</div>
                            {% endfor %}
                        </div>
                    </div>

                </div>

            </div>
        </div><!-- End Container -->
    </div>



{% endblock content %}
