{% extends "base2.html" %}
{% load staticfiles %}
{% block content %}

    <!-- Start Page Top -->
    <section id="page-top" style="height:400px">
        <div class="hero" style="height:100%;">

            <img src='{{ web_obj.image }}' alt="hero">

            <div class="page-top-title text-center">
                <h2 class="white op-1">{{ product.name }}</h2>
                <p class="home-subheading op-1">{{ product.category.name }}</p>
            </div>

        </div>
    </section>
    <!-- End Page Top -->
    <div class="site-wrapper content">
        <section id="project-page-title">
            <div class="container">
                <div class="row text-center" style="margin:100px 0 0 0;">
                    {#                    <div class="col-lg-12">#}
                    {#                        <h2 class="project-title">{{ product.name }}</h2>#}
                    {#                        <p class="project-subtitle">{{ product.category.name }}</p>#}
                    {#                    </div>#}
                </div>
            </div>
        </section>


        <div class="container">
            <div class="row">

                <div class="col-lg-12 col-sm-12">

                    <div class="project-widget">
                        <h4>Description</h4>
                        <p>{{ product.description }}</p>
                    </div>

                    <div class="project-widget">
                        <h4>Origins</h4>
                        <div class="tags-list col-lg-12 col-xs-12">
                            {% for country in product.origins %}
                                <div class="col-md-3" style="cursor: default; margin-bottom: 10px; font-size: 14px; font-weight: bold;">
                                    <img src="{{ country.country.flag }}" width="50" height="50">
                                    &nbsp; &nbsp;{{country.country.name}}</div>
                            {% endfor %}

                        </div>
                    </div>

                    </br>
                    </br>



                </div>

                <br>

                <div class="col-lg-12 col-sm-12">
                   <div class="project-widget">
                        <h4>Product Variety</h4>
                        <div class="tags-list col-lg-12 col-xs-12">
                            {% for product in product.product_items %}
                                <div class="col-md-3" style="cursor: default; margin-bottom: 10px; font-size: 14px; font-weight: bold;">
                                    <img src="{{ product.originFlag }}" width="20" height="20">
                                    &nbsp; &nbsp;{{product.keywords}}</div>
                            {% endfor %}
                        </div>
                    </div>
                </div>





            </div>
        </div><!-- End Container -->
    </div>


{% endblock content %}

{% block extrajs %}
    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
    <script>
        var seriesOptions = [],
                seriesCounter = 0,
                names = ['MSFT', 'AAPL', 'GOOG'];

        /**
         * Create the chart when all data is loaded
         * @returns {undefined}
         */
        function createChart() {

            Highcharts.theme = {
                colors: ['#2b908f', '#90ee7e', '#f45b5b', '#7798BF', '#aaeeee', '#ff0066', '#eeaaee',
                    '#55BF3B', '#DF5353', '#7798BF', '#aaeeee'],
                chart: {
                    backgroundColor: {
                        linearGradient: { x1: 0, y1: 0, x2: 1, y2: 1 },
                        stops: [
                            [0, '#2a2a2b'],
                            [1, '#3e3e40']
                        ]
                    },
                    style: {
                        fontFamily: '\'Unica One\', sans-serif'
                    },
                    plotBorderColor: '#606063'
                },
                title: {
                    style: {
                        color: '#E0E0E3',
                        textTransform: 'uppercase',
                        fontSize: '20px'
                    }
                },
                subtitle: {
                    style: {
                        color: '#E0E0E3',
                        textTransform: 'uppercase'
                    }
                },
                xAxis: {
                    gridLineColor: '#707073',
                    labels: {
                        style: {
                            color: '#E0E0E3'
                        }
                    },
                    lineColor: '#707073',
                    minorGridLineColor: '#505053',
                    tickColor: '#707073',
                    title: {
                        style: {
                            color: '#A0A0A3'

                        }
                    }
                },
                yAxis: {
                    gridLineColor: '#707073',
                    labels: {
                        style: {
                            color: '#E0E0E3'
                        }
                    },
                    lineColor: '#707073',
                    minorGridLineColor: '#505053',
                    tickColor: '#707073',
                    tickWidth: 1,
                    title: {
                        style: {
                            color: '#A0A0A3'
                        }
                    }
                },
                tooltip: {
                    backgroundColor: 'rgba(0, 0, 0, 0.85)',
                    style: {
                        color: '#F0F0F0'
                    }
                },
                plotOptions: {
                    series: {
                        dataLabels: {
                            color: '#B0B0B3'
                        },
                        marker: {
                            lineColor: '#333'
                        }
                    },
                    boxplot: {
                        fillColor: '#505053'
                    },
                    candlestick: {
                        lineColor: 'white'
                    },
                    errorbar: {
                        color: 'white'
                    }
                },
                legend: {
                    itemStyle: {
                        color: '#E0E0E3'
                    },
                    itemHoverStyle: {
                        color: '#FFF'
                    },
                    itemHiddenStyle: {
                        color: '#606063'
                    }
                },
                credits: {
                    style: {
                        color: '#666'
                    }
                },
                labels: {
                    style: {
                        color: '#707073'
                    }
                },

                drilldown: {
                    activeAxisLabelStyle: {
                        color: '#F0F0F3'
                    },
                    activeDataLabelStyle: {
                        color: '#F0F0F3'
                    }
                },

                navigation: {
                    buttonOptions: {
                        symbolStroke: '#DDDDDD',
                        theme: {
                            fill: '#505053'
                        }
                    }
                },

                // scroll charts
                rangeSelector: {
                    buttonTheme: {
                        fill: '#505053',
                        stroke: '#000000',
                        style: {
                            color: '#CCC'
                        },
                        states: {
                            hover: {
                                fill: '#707073',
                                stroke: '#000000',
                                style: {
                                    color: 'white'
                                }
                            },
                            select: {
                                fill: '#000003',
                                stroke: '#000000',
                                style: {
                                    color: 'white'
                                }
                            }
                        }
                    },
                    inputBoxBorderColor: '#505053',
                    inputStyle: {
                        backgroundColor: '#333',
                        color: 'silver'
                    },
                    labelStyle: {
                        color: 'silver'
                    }
                },

                navigator: {
                    handles: {
                        backgroundColor: '#666',
                        borderColor: '#AAA'
                    },
                    outlineColor: '#CCC',
                    maskFill: 'rgba(255,255,255,0.1)',
                    series: {
                        color: '#7798BF',
                        lineColor: '#A6C7ED'
                    },
                    xAxis: {
                        gridLineColor: '#505053'
                    }
                },

                scrollbar: {
                    barBackgroundColor: '#808083',
                    barBorderColor: '#808083',
                    buttonArrowColor: '#CCC',
                    buttonBackgroundColor: '#606063',
                    buttonBorderColor: '#606063',
                    rifleColor: '#FFF',
                    trackBackgroundColor: '#404043',
                    trackBorderColor: '#404043'
                },

                // special colors for some of the
                legendBackgroundColor: 'rgba(0, 0, 0, 0.5)',
                background2: '#505053',
                dataLabelsColor: '#B0B0B3',
                textColor: '#C0C0C0',
                contrastTextColor: '#F0F0F3',
                maskColor: 'rgba(255,255,255,0.3)'
            };

// Apply the theme
            Highcharts.setOptions(Highcharts.theme);

            Highcharts.stockChart('pricing-chart', {

                rangeSelector: {
                    selected: 4
                },

                yAxis: {
                    labels: {
                        formatter: function () {
                            return (this.value > 0 ? ' + ' : '') + this.value + '%';
                        }
                    },
                    plotLines: [{
                        value: 0,
                        width: 2,
                        color: 'silver'
                    }]
                },

                plotOptions: {
                    series: {
                        compare: 'percent',
                        showInNavigator: true
                    }
                },

                tooltip: {
                    pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y}</b> ({point.change}%)<br/>',
                    valueDecimals: 2,
                    split: true
                },

                series: seriesOptions
            });
        }

        $.each(names, function (i, name) {

            $.getJSON('https://www.highcharts.com/samples/data/jsonp.php?filename=' + name.toLowerCase() + '-c.json&callback=?',    function (data) {

                seriesOptions[i] = {
                    name: name,
                    data: data
                };

                // As we're loading the data asynchronously, we don't know what order it will arrive. So
                // we keep a counter and create the chart when all the data is loaded.
                seriesCounter += 1;

                if (seriesCounter === names.length) {
                    createChart();
                }
            });
        });

        {#        function createChart(pricedata) {#}
        {##}
        {#            Highcharts.stockChart('container', {#}
        {##}
        {#                rangeSelector: {#}
        {#                    selected: 4#}
        {#                },#}
        {##}
        {#                chart: {#}
        {#                    renderTo: 'chart_panel',#}
        {#                    type: 'line',#}
        {#                },#}
        {##}
        {#                yAxis: {#}
        {#                    labels: {#}
        {#                        formatter: function () {#}
        {#                            console.log(this.value);#}
        {#                            return (this.value > 0 ? ' + ' : '') + this.value + '%';#}
        {#                        }#}
        {#                    },#}
        {#                    plotLines: [{#}
        {#                        value: 0,#}
        {#                        width: 2,#}
        {#                        color: 'silver'#}
        {#                    }]#}
        {#                },#}
        {##}
        {#                plotOptions: {#}
        {#                    series: {#}
        {#                        compare: 'percent',#}
        {#                        showInNavigator: true#}
        {#                    }#}
        {#                },#}
        {##}
        {#                tooltip: {#}
        {#                    pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y}</b> ({point.change}%)<br/>',#}
        {#                    valueDecimals: 2,#}
        {#                    split: true#}
        {#                },#}
        {##}
        {#                series: pricedata#}
        {#            });#}
        {#        }#}
        {##}
        {#        $(document).ready(function() {#}
        {#            // Glucose Average by Day chart#}
        {#            var avgByDayOptions = {#}
        {#                chart: {#}
        {#                    renderTo: 'chart_panel',#}
        {#                    type: 'line',#}
        {#                },#}
        {#                legend: {enabled: false},#}
        {#                title: {text: 'Average Glucose by Day'},#}
        {#                subtitle: {text: 'Last 14 Days'},#}
        {#                xAxis: {title: {text: null}, labels: {rotation: -45}},#}
        {#                yAxis: {title: {text: null}},#}
        {#                series: [{}],#}
        {#            };#}
        {##}
        {#            var chartDataUrl = '{% url "api:website_pricing_api" product.id %}';#}
        {#            $.getJSON(chartDataUrl,#}
        {#                    function(data) {#}
        {#                        createChart(data.chartData)#}
        {#                    });#}
        {##}
        {#        } );#}
    </script>
{% endblock %}